# Complete a search for periodic spectral signals in a set of input files.

[data]
# Path to data files
DATA_DIR = /home/ella1/asuresh/SETI_data/Real_data
# Glob string to parse input files (filterbank or hdf5)
glob_input = guppi_*.0001.fil

# By default, one .csv file of detected periodicity candidates will be saved to OUTPUT_DIR for every input file.
[output]
OUTPUT_DIR = /home/ella1/asuresh/SETI_data/Outputs ; Output path to be created if non-existent (d: DATA_DIR)

[non_interactive_plotting]
do_plot = True ; Do you want to produce a summary plot showing candidates detected in the radio frequency – trial period plane? (True/ False) (d: False)
plot_formats = ; List of file formats for saving output plots (d: ['.png'])

# NOTE: If the channel bandwidth is negative, data are flipped along the radio frequency axis before slicing away edge channels.
[channel_edges]
start_ch = 5000; 2255 ; All channels with indices less than this integer value will be ignored. (d: 0)
stop_ch =  5200; 11594 ; All channels with indices larger than or equal to this integer value will be ignored. (d: len(data) )

[FFA_parameters]
min_period = 0.10 ; Minimum trial folding period (s) for FFA search (d: 10.0)
max_period = 10.0 ; Maximum trial folding period (s) for FFA search (d: 100.0)
fpmin = 3 ; Minimum number of signal periods that must fit in the data. In other words, place a cap on period_max equal to DATA_LENGTH / fpmin. (d: 3)
SNR_threshold = 20 ; Threshold S/N for peak detection in periodogram via matched filtering (d: 8.0)
bins_min = 128 ; Minimum no. of bins across folded profile. Minimum period/bins_min sets the duty cycle resolution of the FFA search. (d: 10)
bins_max = 142 ; Maximum no. of bins across folded profile. Typically, set to 10 percent larger than bins_min to maintain roughly uniform duty cycle resolution across periods. (d: 11)
ducy_max = 0.1 ; Max duty cycle of search (d: 0.5)
do_deredden = True ; Do you want to deredden the time series before searching? (True/False) (d: False)
rmed_width = 10.0 ; Width (s) of running median filter used for dereddening. Set width > max_period/bins_min. (d: 12.0)

[harmonic_detection]
epsilon = ; Tolerance limit for claiming equality between two floating point numbers (d: 1.0e-3)

[other_params]
mem_load = 15.0 ; Max data volume (GB) allowed to be read into memory (d: 1)
