# Complete a search for periodic spectral signals.

[data]
# Path to data files
DATA_DIR = /home/ella1/asuresh/BLIPSS_data/Real_data
# Glob string to parse ON files
on_files_glob = guppi_*_B01_0013.gpuspec.0002.fil
# Do you have OFF files? (True/False) (d: False)
have_off  = True
# Glob string to parse OFF files, if available.
off_files_glob = guppi_*_B04_0014.gpuspec.0002.fil

[output]
basename = B01_on_B04_off ; Basename of output products
OUTPUT_DIR = /home/ella1/asuresh/BLIPSS_data/Outputs ; Output path to be created if non-existent (d: DATA_DIR)
plot_formats = ; List of file formats for saving plots (d: ['.png'])

[channel_edges]
start_ch = 288673 ; All channels with indices less than this integer value will be ignored. (d: 0)
stop_ch = 1484096 ; All channels with indices larger than or equal to this integer value will be ignored. (d: len(data) )

[FFA_parameters]
min_period = 11.0 ; Minimum trial folding period (s) for FFA search (d: 10.0)
max_period = 50.0 ; Maximum trial folding period (s) for FFA search (d: 100.0)
fpmin = 3 ; Minimum number of signal periods that must fit in the data. In other words, place a cap on period_max equal to DATA_LENGTH / fpmin. (d: 3)
SNR_threshold = 8 ; Threshold S/N for peak detection in periodogram via matched filtering (d: 8.0)
bins_min = 10 ; Minimum no. of bins across folded profile. Minimum period/bins_min sets the duty cycle resolution of the FFA search. (d: 10)
bins_max = 11 ; Maximum no. of bins across folded profile. Typically, set to 10 percent larger than bins_min to maintain roughly uniform duty cycle resolution across periods. (d: 11)
ducy_max = 0.5 ; Max duty cycle of search (d: 0.5)
do_deredden = True ; Do you want to deredden the time series before searching? (True/False) (d: False)
rmed_width = 12.0 ; Width (s) of running median filter used for dereddening. Set width > max_period/bins_min. (d: 12.0)

# TO DO: ON-OFF comparison, harmonic removal
[harmonics]
alias = ; No. of periods to check for harmonics

[other_params]
mem_load = 15.0 ; Max data volume (GB) allowed to be read into memory (d: 1)
